@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import "primereact/resources/themes/tailwind-light/theme.css";
/* @layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
    --bs-blue: #3b7ddd;
    --bs-indigo: #0a0a0a;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #fcb92c;
    --bs-green: #1cbb8c;
    --bs-teal: #20c997;
    --bs-cyan: #17a2b8;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #3b7ddd;
    --bs-secondary: #6c757d;
    --bs-success: #1cbb8c;
    --bs-info: #17a2b8;
    --bs-warning: #fcb92c;
    --bs-danger: #dc3545;
    --bs-light: #f5f7fb;
    --bs-dark: #212529;
}
@theme{
    --color-my-green: #293;
    --color-bs-blue: #3b7ddd;
    --color-bs-indigo: #0a0a0a;
    --color-bs-purple: #6f42c1;
    --color-bs-pink: #e83e8c;
    --color-bs-red: #dc3545;
    --color-bs-orange: #fd7e14;
    --color-bs-yellow: #fcb92c;
    --color-bs-green: #1cbb8c;
    --color-bs-teal: #20c997;
    --color-bs-cyan: #17a2b8;
    --color-bs-white: #fff;
    --color-bs-gray: #6c757d;
    --color-bs-gray-dark: #343a40;
    --color-bs-gray-100: #f8f9fa;
    --color-bs-gray-200: #e9ecef;
    --color-bs-gray-300: #dee2e6;
    --color-bs-gray-400: #ced4da;
    --color-bs-gray-500: #adb5bd;
    --color-bs-gray-600: #6c757d;
    --color-bs-gray-700: #495057;
    --color-bs-gray-800: #343a40;
    --color-bs-gray-900: #212529;
    --color-bs-primary: #3b7ddd;
    --color-bs-secondary: #6c757d;
    --color-bs-success: #1cbb8c;
    --color-bs-info: #17a2b8;
    --color-bs-warning: #fcb92c;
    --color-bs-danger: #dc3545;
    --color-bs-light: #f5f7fb;
    --color-bs-dark: #212529;
    
}
#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  /* text-align: center; */
}
