<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %clr([%thread]){magenta} -->
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr([%thread]){magenta}  %clr(%-5level){highlight} %clr(%logger{36}){cyan} %clr(-){faint} %m%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/lms_schedule_service.log</file>
        <append>false</append>
        <encoder>
            <pattern>
                [%d{yyyy-M-d'T'HH:mm:ss'Z'}] [%C] [%t] [%L] [%-5p] %m%n 
            </pattern>
        </encoder> 
    </appender>
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root> 
</configuration> 