name: lms web pipeline
on:
  push:
    branches:
      - cidemo
      - main
    paths:
      - lms_web/**
      - .github/workflows/pipeline-web.yml
jobs:
  build:
    name: Build docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Extract version
        id: extract_version
        run: |
          cd lms_web
          echo "VERSION=$(jq -r '.version' package.json)" >> $GITHUB_OUTPUT
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: lms_web
          file: lms_web/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lms_web:${{ steps.extract_version.outputs.VERSION }}
          build-args:
            VITE_API_GATEWAY_URL=http://localhost:8090/api/v1
